body {
    background-color: #e2e2e2;
}

.edge {
    stroke: #b1b1b7;
    stroke-dasharray: 5;
    animation: dashdraw .5s linear infinite;
    stroke-width: 1;
}

@keyframes dashdraw {
    0% { stroke-dashoffset: 10; }
}

rect.fill-white {
    fill: white;
}

rect.fill-black {
    fill: black;
}

rect.fill-active {
    fill: #2da149;
}

rect.fill-inactive {
    fill: #7a7a7a;
}