body {
    background-color: #e2e2e2;
}

.edge {
    stroke: #b1b1b7;
    stroke-dasharray: 5;
    /*animation: dashdraw 0.5s linear infinite;*/
    stroke-width: 1;
}

/*@keyframes dashdraw {
    0% {
        stroke-dashoffset: 10;
    }
}*/

rect.fill-white {
    fill: white;
}

rect.fill-black {
    fill: black;
}

rect.fill-active {
    fill: #2da149;
}

rect.fill-inactive {
    fill: #7a7a7a;
}

.m-auto .react-transform-wrapper {
    margin: auto;
}

.gen-card {
    min-width: 45rem;
    background-color: #f8f9fa;
}

.gen-card .header {
    background-color: #64748b;
    color: black;
    padding: 1rem 0.5rem;
}

.gen-card .column {
    margin: 0.5rem 0;
    padding: 0 0.5rem;
}

.gen-card .p-inplace-display {
    text-decoration: underline;
}

.gen-card .p-inputtext-sm,
.gen-card .p-inputtext-sm > input {
    width: 8rem;
    height: 1.5rem;
    font-size: 0.5rem;
    margin-left: 0.1rem;
}

.gen-card .p-inplace {
    min-height: 24px;
}

.gen-card .p-inplace .p-inplace-display {
    padding: 0.1rem 0.3rem;
    line-height: 1.5rem;
}

.gen-card .p-inplace .p-inplace-content {
    display: flex;
    align-items: stretch;
}

.gen-card .p-inplace-content > input,
.gen-card .p-dropdown {
    margin-left: 0.5rem;
}

.gen-card .p-inplace-content > button {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    margin-right: 0.3rem;
}

.gen-card .inplace-static-text {
    line-height: 1.5rem;
}

.gen-card .p-blockui-container {
    display: flex;
    width: 100%;
}

.gen-card .p-dropdown {
    height: 1.5rem;
}

.gen-card .p-dropdown .p-dropdown-label {
    padding: 0.65625rem 0.65625rem;
    font-size: 0.875rem;
    line-height: 0rem;
}

.p-dropdown-panel .p-dropdown-items li.p-dropdown-item {
    padding: 0 0.75rem;
    font-size: 0.875rem;
}

.gen-card .p-button.p-button-danger.p-button-icon-only {
    width: 2rem;
    height: 2rem;
}

.gen-card .alias-alert {
    padding: 0.375rem;
    margin-right: 0.3rem;
}

.p-tabview-title {
    margin: 0 0.5rem;
    line-height: 1.5rem;
}

.p-tabview .p-tabview-nav {
    border: 0;
}

.dashed-divider {
    border: 1px dashed #ebebeb;
    height: 1px;
    width: 80%;
    margin: 0 auto;
}

.gen-wrapper {
    overflow-y: auto;
}

.gen-wrapper > div {
    border: 1px solid #64748b;
    margin: 1rem 1.5rem 1rem 0;
}

.p-sidebar-full .p-sidebar.sized-fullscreen {
    width: 80vw !important;
    height: 80vh !important;
    left: 10vw !important;
}

.balance-bar {
    background: #5457ef;
    min-width: 48%;
}

.balance-bar-value {
    color: #ffffff;
}

.balance-bar-bg-grey {
    background: #7a7a7a;
}

.zoom-buttons {
    right: 0;
}

.zoom-buttons button.p-button.p-button-icon-only.p-button-rounded {
    margin-right: 0.5rem;
    height: 2rem;
    width: 2rem;
}

.zoom-buttons button span.pi {
    font-size: 0.9rem;
}

.sigma-container {
    width: 100%;
    height: 100%;
}

#simulation-progress {
    overflow: hidden;
    background-color: #e2e2e2;
    z-index: 1000;
    margin-right: 1rem;
}

#simulation-progress a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.sim-content {
    padding-right: 0;
}

.sim-sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sim-sticky + .sim-content {
    padding-top: 60px;
}
